header {
  width: 800px;
  margin:auto;
  text-align:center;
  color: PowderBlue;
}

.column-1 {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  text-align: center;
  border: 3px dotted black;
  padding: 20px;
  margin-bottom: 10px;
  background-color: bisque;
  margin-left: 200px;
}

.column-2 {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  text-align: center;
  border: 3px dotted black;
  padding: 20px;
  height: 973px;
  margin-bottom: 10px;
  background-color: bisque
}



footer:hover {
  background-color: red
}

footer {
  background-color: red
  width: 800px;
  margin: auto;
  text-align: center;
}

body {
  background-color: Cornsilk;
}