.contact-info {
	font-size: 0.8em;
}

section.job {
	background-color: #e9e5dc;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
}

.list {
	font-size: 0.8em;

}

li:first-child{
	color: green;
}

ul > li {
	color: red;
}