img#octopus {
	position: absolute;
	margin-top: 100px;
	margin-left: 525px;
	
}
img#hat {
	position: absolute;
	margin-top: 30px;
	margin-left: 500px;

}


img#glasses {
	position: absolute;
	margin-left: 565px;
	margin-top: 200px;
}

